.banner{
    background-image: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?_gl=1*18g2nhs*_ga*MzkzNDg5NTUxLjE3NTIzMTgxODU.*_ga_8JE65Q40S6*czE3NTIzMTgxODUkbzEkZzEkdDE3NTIzMTgyODIkajI5JGwwJGgw");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.5;
}
